@import url('https://fonts.googleapis.com/css2?family=Anton&family=Familjen+Grotesk:wght@500&display=swap');

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;  /* for Google Chrome and Apple Safari */
  -moz-box-sizing: border-box;    /* for Mozilla Firefox */
  -ms-box-sizing: border-box;   /* for Microsoft's Internet Explorer */
  box-sizing: border-box;       /* box-sizing is a property allows us to change exactly how the box-model works  */
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;

  /*  position: relative; */
  min-height: 100vh;  /* vh (viewport height as unit of measure)) */
  margin: 0;
}

.anton-font {
  font-family: 'Anton', sans-serif;
}

.familjen-grotesk-font {
  font-family: 'Familjen Grotesk', sans-serif;
}

.font-black {
  color: #000000;
}

.font-yellow {
  color: #F9EF23;
}

.font-white {
  color: white;
}

.bg-grey {
  background-color: #141414;
}

.bg-yellow {
  background-color: #F9EF23;
}

.border-black {
  border: 2px solid black;
}

.border-yellow {
  border: 2px solid #F9EF23;
  border-radius: 10px;
}

.white-border {
  border: 2px solid white;
}

/* Styles for navbar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -434px;
}

.nav .ministry-logo-nav {
  background-color: black;
  background-image: url('./images/ministry-logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 40px;
}

.nav-menu-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 29px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.testimony-img-1 {
  background-color: white;
  background-image: url('./images/1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
}

.testimony-img-2 {
  background-color: #F9EF23;
  background-image: url('./images/2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
}

.testimony-img-3 {
  background-color: white;
  background-image: url('./images/3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
}

.ministry-logo-footer {
  background-color: black;
  background-image: url('./images/ministry-logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 40px;
}

/* Styles for screens at 319px & below */
@media only screen and (max-width: 319px) {
  /* Styles for navbar */
  .nav {
    position: relative;
    top: 0;
    z-index: 1;
  }

  .nav .ministry-logo-nav {
    background-color: black;
    background-image: url('./images/ministry-logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 19px;
  }

  .nav .ministry-name-nav {
    margin-left: 1px;
    font-size: 12px;
  }

  .hamburger {
    display: block;
    margin-top: 9px;
    margin-right: 14px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    position: fixed;
    top: 27.5px;
    left: 165px;
    z-index: 10;
    background-color: black;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    position: fixed;
    top: 44px;
    left: 165px;
    z-index: 10;
    background-color: black;
  }

  .nav-menu-mobile {
    position: fixed;
    right: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    background-color: #F9EF23;
    mix-blend-mode: multiply;
    backdrop-filter: blur(9px);
    width: 50%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
    padding-top: 154px;
  }

  .nav-item-mobile {
    margin: 16px 0;
  }

  .nav-menu-mobile.active {
    right: 0;
  }

  .nav .nav-item-mobile .nav-link-mobile {
    color: #1a2236;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
  }

  .section-1 {
    background-color: black;
    background-image: url('./images/background-1-1-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 13px 7px 300px 7px;
  }

  .section-1 .paragraph-1 {
    margin-top: 30px;
  }

  .paragraph-1 p {
    font-size: 12px;
  }

  .booking-btn {
    position: relative;
    top: 85px;
    width: auto;
    font-size: 15px;
  }
  
  .booking-btn:active {
    border: 10px solid #F9EF23;
  }

  .be-free-text {
    position: relative;
    top: 174px;
    font-size: 51px;
    font-style: italic;
  }

  .testimonies-text::before {
    content: '';
    display: block;
    width: 139px;
    height: 5px;
    background: #F9EF23;
    position: relative;
    top: -37%;
    left: 22%;
  }

  .testimonies-text {
    font-size: 38px;
  }

  .testimony-img-1,
  .testimony-img-2,
  .testimony-img-3 {
    padding: 66px 100px;
  }

  footer {
    padding: 10px;
  }

  .ministry-logo-footer {
    padding: 23px;
  }

  .ministry-name-footer {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 10px;
  }

  .copyright-text {
    margin-right: 5px;
    font-size: 10px;
  }

  .made-in-fiji-text {
    margin-right: 5px;
    font-size: 10px;
  }
}

/* Styles for screens at 320px & above */
@media only screen and (min-width: 320px) {
  /* Styles for navbar */
  .nav {
    position: relative;
    top: -272px;
    z-index: 1;
  }

  .nav .ministry-logo-nav {
    padding: 33px;
  }

  .nav .ministry-name-nav {
    font-size: 14px;
  }

  .hamburger {
    display: block;
    margin-top: 9px;
    margin-right: 14px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    position: fixed;
    top: 21.5px;
    left: 181px;
    z-index: 10;
    background-color: black;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    position: fixed;
    top: 38px;
    left: 181px;
    z-index: 10;
    background-color: black;
  }

  .nav-menu-mobile {
    position: fixed;
    right: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    background-color: #F9EF23;
    mix-blend-mode: multiply;
    backdrop-filter: blur(9px);
    width: 50%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
    padding-top: 220px;
  }

  .nav-item-mobile {
    margin: 16px 0;
  }

  .nav-menu-mobile.active {
    right: 0;
  }

  .nav .nav-item-mobile .nav-link-mobile {
    color: #1a2236;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
  }

  .section-1 {
    background-color:  black;
    background-image: url('./images/background-1-1-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 272px 0px 216px 0px;
  }

  .section-1 .paragraph-1 {
    margin-top: -240px;
  }

  .section-1 .paragraph-1 {
    font-size: 11px;
  }

  .booking-btn {
    position: relative;
    top: 72px;
    font-size: 16px;
    width: auto;
  }
  
  .booking-btn:active {
    border: 10px solid #F9EF23;
  }

  .be-free-text {
    position: relative;
    top: 115px;
    font-size: 40px;
    font-style: italic;
  }

  .testimonies-text::before {
    content: '';
    display: block;
    width: 139px;
    height: 5px;
    background: #F9EF23;
    position: relative;
    top: -37%;
    left: 22%;
  }

  .testimonies-text {
    font-size: 42px;
  }

  .testimony-img-1,
  .testimony-img-2,
  .testimony-img-3 {
    padding: 86px 100px;
  }
 
  footer  {
    padding: 10px;
  }

  .ministry-logo-footer {
    padding: 23px;
  }

  .ministry-name-footer,
  .copyright-text,
  .made-in-fiji-text {
    font-size: 12px;
    margin-left: 2px;
  }
}

/* Styles for screens at 370px & above */
@media only screen and (min-width: 370px) {
  .booking-btn {
    position: relative;
    top: 72px;
    font-size: 16px;
    width: auto;
  }
  
  .booking-btn:active {
    border: 10px solid #F9EF23;
  }
}

/* Styles for screens at 390px & above */
@media only screen and (min-width: 390px) {
  .hamburger.active .bar:nth-child(1) {
    left: 225px;
  }

  .hamburger.active .bar:nth-child(3) { 
    left: 225px;
  }

  .section-1 {
    background-color: black;
    background-image: url('./images/background-1-1-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 300px 7px;
  }

  .section-1 .paragraph-1 {
    margin-top: -225px;
  }

  .section-1 .paragraph-1 p {
    font-size: 15px;
  }

  .be-free-text {
    font-size: 55px;
  }

  .testimonies-text::before {
    left: 32%;
  }
}

/* Styles for screens at 527px & above */
@media only screen and (min-width: 527px) {
  .nav .ministry-logo-nav {
    padding: 38px;
  }

  .nav .ministry-name-nav {
    font-size: 20px;
  }

  .hamburger.active .bar:nth-child(1) {
    left: 346px;
  }

  .hamburger.active .bar:nth-child(3) { 
    left: 346px;
  }

  .section-1 .paragraph-1 p {
    font-size: 19px;
  }

  .booking-btn {
    font-size: 20px;
  }

  .testimony-img-1,
  .testimony-img-2,
  .testimony-img-3 {
    padding: 142px;
  }

  footer {
    padding: 26px;
  }

  .ministry-name-footer, 
  .copyright-text, 
  .made-in-fiji-text {
    font-size: 13px;
  }
}

/* Styles for screens at 705px & above */
@media only screen and (min-width: 705px) {
  .section-1 .paragraph-1 p {
    font-size: 19px;
  }

  .testimony-img-1,
  .testimony-img-2,
  .testimony-img-3 {
    padding: 182px;
  }
}

/* Styles for screens at 768px & above */
@media only screen and (min-width: 768px) {
  /* Styles for navbar */
  .nav {
    position: relative;
    top: -365px;
  }

  .nav .ministry-name-nav {
    font-size: 25px;
  }

  .hamburger.active .bar:nth-child(1) {
    top: 44px;
    left: 419px;
  }
  
  .hamburger.active .bar:nth-child(3) {
    top: 60px;
    left: 419px;
  }

  .nav-link-desktop:hover {
    border: 2px solid #F9EF23;
    color: #F9EF23;
  }

  .nav-link-desktop:active {
    border: 4px solid #F9EF23;
    color: #F9EF23;
  }

  .section-1 {
    background-color: black;
    background-image: url('./images/background-1-1-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 382px 50px;
  }

  .section-1 .paragraph-1 {
    margin-top: -310px;
  }

  .section-1 .paragraph-1 p {
    font-size: 22px;
  }

  .booking-btn {
    top: 105px;
    font-size: 27px;
  }

  .be-free-text {
    font-size: 81px;
  }

  .testimonies-text::before {
    left: 39%;
    width: 172px;
  }

  .testimonies-text {
    font-size: 73px;
  }

  .testimony-img-1,
  .testimony-img-2,
  .testimony-img-3 {
    padding: 220px;
  }

  .ministry-logo-footer {
    padding: 31px;
  }

  .ministry-name-footer, 
  .copyright-text, 
  .made-in-fiji-text {
    font-size: 18px;
  }
}

/* Styles for screens at 885px & above */
@media only screen and (min-width: 885px) {
  .booking-btn {
    top: 142px;
  }

  .be-free-text {
    font-size: 81px;
    position: relative;
    top: 217px;
  }

  .testimony-img-1,
  .testimony-img-2,
  .testimony-img-3 {
    padding: 230px;
  }
}

/* Styles for screens at 1100px & above */
@media only screen and (min-width: 1100px) {
  .section-1 .paragraph-1 {
    margin-top: -274px;
  }

  .section-1 .paragraph-1 p {
    font-size: 25px;
  }

  .booking-btn {
    top: 161px;
  }

  .testimonies-text::before {
    left: 43%;
    width: 205px;
  }

  .testimony-img-1,
  .testimony-img-2,
  .testimony-img-3 {
    padding: 350px;
  }
}

/* Styles for screens at 1500px & above */
@media only screen and (min-width: 1500px) {
  .testimony-img-1,
  .testimony-img-2,
  .testimony-img-3 {
    padding: 430px;
  }
}

/* Styles for screens at 1700px & above */
@media only screen and (min-width: 1700px) {
  .testimony-img-1,
  .testimony-img-2,
  .testimony-img-3 {
    padding: 480px;
  }
}